/* app css stylesheet */
.mainBody {
  background-color: #B3B1B2;
}

.headingDiv {
  background-color: #84978F;
  border-radius: 10px;
}

hr {
color: #000000;
background-color: #000000;
height: 2px;
}

.socialMediaName {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 700;
}
