/* app css stylesheet */
.mainBody {
  background-color: #B3B1B2;
}

.appTitleDiv {
  font-family: 'Flamenco', cursive;
}

.headingDiv {
  background-color: #84978F;
  border-radius: 10px;
  font-family: 'Flamenco', cursive;
}

.loginTitle {
  font-family: 'Flamenco', cursive;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

hr {
color: #B3B1B2;
background-color: #84978F;
height: 2px;
}

.socialMediaName {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 700;
}

.mediaHeader {
  margin: 0;
  background-color: #ADA692;
  border-radius: 5px;
}

.dateDiv {
  font-family: 'Flamenco', cursive;
}
