<div class="container">
  <div class="row">
     <div class="span12 pagination-centered appTitleDiv">
      <h1>Souvenir</h1>
    </div>
  </div>
  <div class="row">
    <div class="span12 pagination-centered headingDiv">
      <h2>My Vacation</h2>
    </div>
  </div>
  <div class="row" ng-show="datesEntered==false">
    <div class="span12">
      <div class="loginTitle"><h3>Name Your Trip</h3></div>
    </div>
  </div>
  <div class="row" ng-show="datesEntered==false">
    <div class="span12">
    <div class="span4"><input type="text" ng-model="dates.title" placeholder="Trip Description"></div> </div>
  </div>
  <div class="row" ng-show="datesEntered==false">
    <div class="span12">
      <div class="loginTitle"><h3>Enter the Dates of your Trip</h3></div>
    </div>
  </div>
  <div class="row" ng-show="datesEntered==false">
    <div class="span12">
      <div class="span4">Depart: <input type="date" ng-model="dates.from"></div>
      <div class="span4"> Return: <input type="date" ng-model="dates.to"></div>
      <div class="span3">
      <button class="btn btn-primary" ng-click="setDates(dates)">Go</button></div>
    </div>
  </div>
  <div class="row" ng-show="datesEntered==true">
    <div class="span5 loginTitle">
      <h3>{{tripTitle}}</h3>
      <h3>From: {{fromDate}} To: {{toDate}}</h3> <button class="btn btn-primary" ng-click="datesEntered=false">Change Dates</button>
    </div>
  </div>
  <hr />
  <div ng-show="datesEntered==true">
  <div class="row">
    <div class="span12">
      <div class="loginTitle"><h3>Log into Social Media</h3></div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
     <div class="socialMediaName">Flickr</div>
    </div>
  </div>
  <div class="row" ng-show="loggedInToFlickr==false">
    <div class="span8">
      Username: <input type="text" ng-model="  userInfoFlickr.username">
    </div>
    <div class="span3">
      <button class="btn btn-primary" ng-click="getFlickr(userInfoFlickr, dates)">Get Flickr Photos</button><img src="img/spinner-small.gif" ng-show="loading==true"></div>
  </div>
  <div class="row" ng-show="loggedInToFlickr==true">
    <div class="span8">
      Flickr images downloaded.
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span12">
      <div class="socialMediaName">Twitter</div>
    </div>
  </div>
  <div class="row" ng-show="loggedInToTwitter==false">
    <div class="span8">
      Username: <input type="text" ng-model="  userInfoTwitter.username"> Password: <input type="password" ng-model="userInfoTwitter.password">
    </div>
    <div class="span3">
      <button class="btn btn-primary" ng-click="getTwitter(userInfoTwitter, dates)">Get Tweets</button></div>
  </div>
  <div class="row" ng-show="loggedInToTwitter==true">
    <div class="span8">
      Tweets downloaded.
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span12 pagination-centered">
      <button class="btn btn-inverse" ng-click="generateTimeline()">Make My Page</button>
    </div>
  </div>
</div>
</div>