<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>

  <div ng-view></div>

  <div>Angular seed app: v<span app-version></span></div>

  <div>My Vacation</div>
  <div>Dates</div>
  <div>From: <input type="date" ng-model="dates.from"> To: <input type="date" ng-model="dates.to"></div>
  <br />
  <div>Facebook</div>
  <div>Username: <input type="text" ng-model="userInfoFacebook.username"> Password: <input type="password" ng-model="userInfoFacebook.password"></div>
  <br />
  <br />
  <button class="btn btn-primary" ng-click="getFacebook(userInfoFacebook, dates)">Get Facebook Posts</button>
  <button class="btn btn-primary">Get Tweets</button>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
